.pagination {
    background-color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;

}
.pagination__container {
    width: max-content;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: visible;
    left: 45%;
    gap: 8px;
}
.pagination__arrow {
    cursor: pointer;
    position: absolute;
    z-index: 40;
    width: 11px;
    height: 11px;
    transform: rotateZ(45deg);
}
.pagination__arrow.prev {
    left: -20px;
    border-left: 1px solid #898989;
    border-bottom: 1px solid #898989;
}
.pagination__arrow.next {
    right: -20px;
    border-right: 1px solid #898989;
    border-top: 1px solid #898989;
}
.pagination__list {
    display: flex;
    gap: 5px;
}
.pagination__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 7px;
    border-radius: 50%;
    color: #989898;
}

.pagination__item:hover {
    background-color: #f1f1f1;
}

.pagination__item--current {
    background-color: #d9d9d9;
}


.countEmployee {
    position: absolute;
    left: 65px;
    color: #989898;
}
.countPages {
    position: absolute;
    left: calc(165px + 40px);
    color: #989898;
}