/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 7px;
    width: 7px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #898989;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #4D4D4D;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #4D4D4D;
  }

.container {
    width: calc(1380px - 90px);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color: #000;
}

button {border: none; background: transparent;}

.content {
    height: 100%;
}

.content .container {
    width: calc(1380px - 30px);
    height: 100%;
    padding: 36px 0px;
    gap: 80px;
}
.nav {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.nav_item {
    cursor: pointer;
    padding: 17px 34px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_item.current {
    background-color: #898888;
    color: #fff;
    border-radius: 30px;
}
.form {
    width: calc(100%-300px);
    min-height: 500px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px 0px;
}
.form.hidden {
    display: none;
}
.form.byLink .input {
    background-color: #fff;
}
.form.byLink .sendTo {
    display: flex;
    align-items: center;
    gap: 12px;
}
.form.byPersonal {
    gap: 0px;
}
.form.byPersonal .labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.form.byPersonal .label {
    width: 300px;
    height: 50px;
    padding: 10px;
}
.form.byPersonal .rows {
    display: flex;
    height: 300px;
    margin-bottom: 20px;
    flex-direction: column;
    overflow-y: auto;
    padding-right: 10px;
    gap: 10px;
}
.form.byPersonal .row {
    display: flex;
    flex-direction: row;
}
.form.byPersonal .input {
    width: 300px;
    height: 50px;
    background-color: #fff;
}
.form.byPersonal .rows_control {
    display: flex;
    gap: 50px;
}
.form.byPersonal .add {
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #2668b0;
}
.form.byPersonal .add:before {
    content: '+';
    font-size: 20px;
}
.form.byPersonal .delete {
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #2668b0;
}
.form.byPersonal .delete:before {
    content: '-';
    font-size: 20px;
}
.form.byPersonal .delete.inactive {
    display: none;
}
.form.byPersonal .actions{
    position: absolute;
    left: 50%;
    bottom: 35px;
    transform: translateX(-50%);
}
.row {
    width: 100%;
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.row_container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
}
.row_container .btn {
    width: 236px;
    height: 50px;
    background-color: rgba(40, 224, 90, 1);
    border-radius: 10px;
}
.row_container .btn:hover {
    background-color: rgba(40, 224, 90, 0.9);
}

.sendTo {
    padding: 0px 10px;
}

.sendTo {
    cursor: pointer;
}

.sendTo_item img{
    width: 32px;
    height: 32px;
}

.label {
    font-size: 18px;
    white-space: wrap;
    line-height: 150%;
}
.select {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.input:focus {
    color: #000;
}
.input::placeholder {
    color: #b7b7b7;
}
.input, .select {
    width: 600px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    color: #b7b7b7;
    border: 1px solid #898888 !important;
    background-color: #e1e1e1;
    border-radius: 5px;
}
.actions {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.btn {
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
}
.btn-submit {
    background-color: rgba(40, 224, 90, 1);
}
.btn-submit:hover {
    background-color: rgba(40, 224, 90, 0.9);
}
.btn-cancel {
    background-color: #e1e1e1;
}
.btn-cancel:hover {
    background-color: rgba(225, 225, 225, 0.85);
}
