.choose_company{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.choose_company p{
    color: white;
    margin: 0;
}

.selector{
    background-color: white;
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 15px;
    align-items: center;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 10px;
}

.selector p{
    color: black;
}

.settings{
    display:flex;
    align-items: center;
    border: none;
    background: none;
    align-items: center;
}

.settings img{
    width: 24px;
    height: 24px;
}