.main {
    color: #000;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}

.container_empty {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    color: #898989;
    height: 100%
}

.projects {
    background-color: #fff;
    width: 100%;
    overflow-y: auto;
    border-radius: 10px 10px 0 0;
    text-align: left;
    border-collapse: collapse;
    table-layout: fixed;
}

.projects th, .projects td{
    padding-inline: 20px;
    max-width: 200px;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    font-weight: 400;
}

.projects tr{
    height: 80px;
    transition: 0.3s ease;
}

.projects__item:hover{
    background-color: #EFEFEF;
}

.projects__item:hover .checkbox{
    visibility: visible;
}

.projects__item:hover a{
    color: #2668B0;
}

.projects__header {
    height: 80px;
    gap: 50px;
    background-color: #FDFBFC;
    border-bottom: 1px solid #e1e1e1;
}

.projects__settings {
    width: 50px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    align-items: center;
}

.checkbox{
    width: 20px;
    height: 20px;
    cursor: pointer;
    visibility: hidden;
}

.project__title{
    font-size: 20px;
}

.selected {
    background-color: #C2DBFE;
}

.selected:hover {
    background-color: #C2DBFE;
}

.selected .checkbox{
    visibility: visible;
}

.action__panel{
    display: flex;
    position: absolute;
    width: max-content;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    top: 60px;
    padding-inline: 20px;
    align-items: center;
    gap: 15px;
}

.action__panel button, .action__panel__length{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    padding: 5px;
}

.circle{
    width: 20px;
}

.action__panel button:hover{
    background-color: #C2DBFE;
    border: 5px #C2DBFE;
    border-radius: 20px;
    transition: 0.2s ease;
}