.container {
    width: 722px;
    display: flex;
    margin: 0 auto;
}
.popup {
    background-color: #fff;
    color: #000;
    border-radius: 15px;
    overflow: hidden;
}
.popup * {
    box-sizing: border-box;
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.header {
    width: 800px;
    border-bottom: 1px solid #000;
}
.header .container {
    padding: 26px 0px;
    justify-content: space-between;
    align-items: center;
}
.title {
    font-size: 20px;
    font-weight: 600;
}
.closeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    overflow: hidden;
    cursor: pointer;
}
.content .container {
    flex-direction: column;
    padding: 36px 0px;
    gap: 56px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.row {
    width: 100%;
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.label {
    flex: 47% 0 1;
    font-size: 18px;
    white-space: wrap;
    line-height: 150%;
}
.sublabel {
    margin-top: 6px;
    font-size: 16px;
    color: #898888;
}
.sublabel span {
    font-weight: 700;
}
.input:focus {
    color: #000;
}
.input::placeholder {
    color: #b7b7b7;
}
.input, .select {
    width: 600px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    color: #b7b7b7;
    border: 1px solid #898888 !important;
    border-radius: 5px;
}
.actions {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.btn {
    min-width: 160px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    border: none;
}
.btn-submit {
    width: 264px;
    background-color: rgba(40, 224, 90, 1);
}
.btn-submit:hover {
    background-color: rgba(40, 224, 90, 0.9);
}
.btn-cancel {
    background-color: #e1e1e1;
}
.btn-cancel:hover {
    background-color: rgba(225, 225, 225, 0.85);
}

.errorMessage {  
    color: rgba(255, 73, 73); 
    font-size: 14px;
    margin-top: 4px; 
}  
