.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 722px;
    gap: 25px;
}

.row {
    width: 100%;
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.label {
    flex: 47% 0 1;
    font-size: 18px;
    white-space: wrap;
    line-height: 150%;
}
.sublabel {
    margin-top: 6px;
    font-size: 16px;
    color: #898888;
}
.sublabel span {
    font-weight: 700;
}
.input:focus {
    color: #000;
}
.input::placeholder {
    color: #b7b7b7;
}
.input, .select {
    width: 600px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    color: #b7b7b7;
    border: 1px solid #898888 !important;
    border-radius: 5px;
}
.actions {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.btn {
    min-width: 160px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    border: none;
}
.btn-submit {
    width: 264px;
    background-color: rgba(40, 224, 90, 1);
}
.btn-submit:hover {
    background-color: rgba(40, 224, 90, 0.9);
}
.btn-cancel {
    background-color: #e1e1e1;
}
.btn-cancel:hover {
    background-color: rgba(225, 225, 225, 0.85);
}

.errorMessage {  
    color: rgba(255, 73, 73); 
    font-size: 14px;
    margin-top: 4px; 
}  
