.node{
    position: relative;
    display:flex;
    flex-direction: column;
    width: -webkit-fill-available;
}

    .department{
        display:flex;
        flex-direction: column;
        align-items: end;
        gap: 20px;
        width: -webkit-fill-available;
        z-index: 1;

    }

    .head{
        display:flex;
        flex-direction: row;
        align-items: center;
        background-color: #FFF3D6;
        padding-inline: 24px;
        gap: 20px;
        padding-block: 7px;
        border-radius: 10px;
        align-items: center;
        width: -webkit-fill-available;
    }

    .employees{
        position: absolute; 
        left: 100%;
        top: 75%;
        transform: translateX(10px);
        padding: 7px;
        display:flex;
        flex-direction: column;
        gap: 20px;
        z-index: 1000;
        border-radius: 10px;
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
        background: rgb(255, 255, 255);
    }

    .employee{
        position: relative;
        display:flex;
        flex-direction: row;
        align-items: center;
        background-color: #FFF3D6;
        width: 240px;
        padding-inline: 24px;
        gap: 20px;
        padding-block: 7px;
        border-radius: 10px;
        align-items: center;
    }

    .photo{
        width: 40px;
        height: 40px;
    }

    .label__employee{
    }

    .label{
        background-color: #FFF3D6;
        display:flex;
        padding-inline: 35px;
        padding-block: 7px;
        border-radius: 10px;
        align-items: center;
        width: -webkit-fill-available;
    }

    .name{
        font-weight: 500;
        font-size: 16px;
    }

    .position{
        font-weight: 300;
        font-size: 16px;
    }

    .dropdown{
        display: flex;
        background-color: #FFF3D6;
        width: 270px;
        padding-inline: 35px;
        padding-block: 7px;
        border-radius: 10px;
        align-items: center;
    }