.main {
    position: relative;
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
}


.employees .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #000;
}

.employees__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
    height: 80px;
    border-bottom: 1px solid #e1e1e1;
    background-color: #fdfbfc;
}
.employees .container {
    display: flex;
    gap: 20px;
}
.employees__settings {
    position: absolute;
    cursor: pointer;
    left: 25px;
    margin-top: 5px;
}

.employees__labels {

}

.employees__label {
    width: 250px;
}
.employees__label:first-child {
    width: 200px;
    text-align: center;
}
.employees__label:nth-child(2) {
    width: 300px;
}

.employees__list {
    height: 500px;
}

.employees__list-inner {
    background-color: #fdfbfc;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    border-bottom: 1px solid #e1e1e1;
}

.employee {
    padding: 15px 0px;
    display: flex;
}


.employee__column {
    width: 250px;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.employee__info {
    width: 300px;
    display: flex;
    align-items: start;
    gap: 5px;
}
.employee__status {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}
.employee__status:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: lightgreen;
    border-radius: 50%;
}
.employee__type {
    font-size: 14px;
}
.employee__photo {
    width: 200px;
    align-items: center;
}
.employee__photo-inner {
    width: 70px;
    height: 70px;
    background-color: #28e05a;
    border-radius: 50%;
}


.pagination {
    position: absolute;
    width: 100%;
    background-color: #fff;
    height: 70px;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    display: flex;
    align-items: flex-start;
}
.pagination .container {
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.pagination__arrow {
    width: 11px;
    height: 11px;
    transform: rotateZ(45deg);
}
.pagination__arrow.prev {
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}
.pagination__arrow.next {
    border-right: 1px solid #000;
    border-top: 1px solid #000;
}
.pagination__list {
    display: flex;
    gap: 5px;
}
.pagination__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 7px;
    border-radius: 50%;
    color: #989898;
}
.pagination__item.current-page {
    background-color: #d9d9d9;
}


.employees__countEmployee {
    position: absolute;
    left: 65px;
    color: #989898;
}
.employees__countPages {
    position: absolute;
    left: calc(165px + 40px);
    color: #989898;
}
