.node{
    position: relative;
    display:flex;
    flex-direction: column;
    width: -webkit-fill-available;
}

    .department{
        display:flex;
        flex-direction: column;
        align-items: end;
        gap: 20px;
        width: 270px;
    }

    .head{
        display:flex;
        flex-direction: row;
        align-items: center;
        background-color: #FFF3D6;
        padding-inline: 24px;
        gap: 20px;
        padding-block: 7px;
        border-radius: 10px;
        align-items: center;
        width: 100%;
        overflow: hidden;
    }

    .closeBtn{
        width: 11px;
        height: 13px;
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 5px;
    }

    .photo{
        width: 40px;
        height: 40px;
    }

    .label{
        position: relative;
        background-color: #FFF3D6;
        display:flex;
        justify-content: space-between;
        padding-left: 35px;
        padding-right: 10px;
        padding-block: 7px;
        border-radius: 10px;
        align-items: center;
        width: 100%;
        cursor: default;
    }

    .changeBtn{
        width: 20px;
        height: 20px;
        opacity: 0; 
        transition: opacity 0.15s;
        pointer-events: none;
        justify-content: end;
        margin-left: auto;
        transform: scaleY(-1);
    }

    .deleteBtn {
        width: 15px;
        height: 15px;
        opacity: 0; 
        transition: opacity 0.15s, transform 0.15s;
        pointer-events: none;
        justify-content: end;
        margin-left: 15px;
    }

    .label:hover .changeBtn {
        opacity: 1;  
        pointer-events: visible; 
        cursor: pointer;
    }

    .label:hover .deleteBtn {
        opacity: 1; 
        transform: translateY(0); 
        pointer-events: visible; 
        cursor: pointer;
    }

    .name{
        font-weight: 500;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
    }

    .head .name{
        white-space: nowrap;
        overflow: hidden;
    }

    .position{
        font-weight: 300;
        font-size: 16px;
        width: 60%;
        white-space: nowrap;
        overflow: hidden;
    }

    .dropdown{
        display: flex;
        background-color: #FFF3D6;
        width: 270px;
        /* justify-content: space-between; */
        padding-inline: 25px;
        padding-left: 35px;
        padding-block: 7px;
        border-radius: 10px;
        align-items: center;
    }

    .dropdown span{
        margin-left: 10px;
    }

    .arrow {
        width: 8px;
        height: 8px;
        transform: rotateZ(-45deg);
        align-items: center;
        border-bottom: 2px solid #000;
        border-right: 2px solid #000;
        transition: transform 0.2s;
        margin-left: auto;
    }

    .dropdown.active .arrow {     
        transform: rotate(135deg);
    }

    .actions{
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .btn {
        font-size: 16px;
        height: 40px;
        padding: 0px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        cursor: pointer;
        transition: 0.2s;
    }

    .btnSubmit {
        background-color: rgba(40, 224, 90, 1);
    }
    .btnSubmit:hover {
        background-color: rgba(40, 224, 90, 0.9);
    }
    .btnCancel {
        background-color: #E1E1E1;
    }
    .btnCancel:hover {
        background-color: rgba(225, 225, 225, 0.85);
    }
