.search {
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 200px;
    width: 100%;
    padding-inline: 23px;
    height: 40px;
    border-radius: 30px;
    padding: 0 10px 0 23px;
    background-color: rgba(255, 255, 255, 0.2);
}

.search:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.search_icon {
    width: 18px;
    height: 18px;
}

.search input {
}